html, body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: lighter;
}
h2{
    font-size: 30px;
}
p{
    color: dimgray;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.7;
}
.text-title{
    color: #EC4C7A;
    font-weight: 900;
}
.content-sidebar{
    width: 35%;
    float: left;
    margin-left: 10%;
    padding-left: 2%;
    margin-top:80px;
}
.content-sidebar img{
    width: 100%;
}
.content-sidebar p{
    text-align: left;
}
.top-content{
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.biography-bg{
    background-image: url("../images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover; 
}
section{
    height: 500px;
    padding-bottom: 150px;
    
}
.link-button{
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(45deg, DeepPink, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.link-button:hover{
    padding: 11px 32px;
    background-image: linear-gradient(45deg, tomato, DeepPink);
}
.work-setion{
    background-image: url("../images/latest-work-bg.png");
    background-position: center;
    background-size: cover;
    height: 600px;
    padding: 30px;
  }
  .work-setion h1{
      text-align: center;
}
  .work-setion img{
      width: 30%;
      margin-left: 15px;
      padding:2px;
      
  }
  .client-secton{
      background-image: url("../images/footer-bg.png");
      background-position: center;
      background-size: cover;
  }
  .client-content, p{
    text-align: center;
    font-weight: bold;
    text-justify: inter-word;
  
  }
  .email-box{
    margin-left: 25%;
    padding: 25px;
    width: 50%;
    background-image: linear-gradient(45deg, DeepPink, hotpink, DeepPink);
    background-color: DeepPink;
    box-shadow: 10px 10px 45px hotpink;
    border-radius: 10px;
    color:white;
  }
  .bio{
    background-image: url("../images/biography-bg1.png");
    background-position: top;
    background-size: cover;
}